<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Inventory Management System</h2>
  <p>Hi, and welcome to the inventory management system - your simple and efficient tool for managing your stock!</p>
  <p>Quickly add new items, update existing records, or search for a product with just a few taps. With an easy-to-use interface and helpful guidance on every page, keeping track of your inventory has never been easier.</p>
  <p>Click one of the buttons below to get started!</p>

  <div class="button-container">
    <ion-button routerLink="/tabs/tab1">Search Items</ion-button>
    <ion-button routerLink="/tabs/tab2">Add Item</ion-button>
    <ion-button routerLink="/tabs/tab3">Edit Items</ion-button>
    <ion-button routerLink="/tabs/tab4">Privacy & Security</ion-button>
    <ion-button routerLink="/tabs/tab5">Help<ion-icon name="help-circle-outline"></ion-icon></ion-button>    
  </div>

</ion-content>