<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Privacy & Security</ion-title>
    <!-- Help widget for default header -->
    <ion-button slot="end" routerLink="/tabs/tab5">
      <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Privacy & Security</ion-title>
      <!-- Help widget for condensed header -->
      <ion-button slot="end" routerLink="/tabs/tab5">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
</ion-content>
