<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Items
    </ion-title>
    <!-- Help widget for default header -->
    <ion-button slot="end" routerLink="/tabs/tab5">
      <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Items</ion-title>
      <!-- Help widget for condensed header -->
      <ion-button slot="end" routerLink="/tabs/tab5">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  
  <form #myForm="ngForm" (submit)= "onSubmit(myForm)">

    <ion-label for="itemName">Name</ion-label>
    <ion-input #nameInput="ngModel" id="itemName" name="name" placeholder="Headset" [(ngModel)]="name" [ngClass]=" {'inputError' : nameInput.invalid && (nameInput.touched ||submitButtonPressed)}"  required></ion-input>
    <p class="error" *ngIf="nameInput.invalid && (nameInput.touched ||submitButtonPressed)">Need a name</p>

    <ion-label for="sname">Supplier name</ion-label>
    <ion-input #snameInput="ngModel" id="sname" name="supplier" placeholder="Mazine Meriche" [(ngModel)]="supplier" [ngClass]=" {'inputError' : snameInput.invalid && (snameInput.touched ||submitButtonPressed)}" required></ion-input>
    <p class="error" *ngIf="snameInput.invalid && (snameInput.touched ||submitButtonPressed)">Need a supplier name</p>

    <ion-label for="snote">Special note</ion-label>
    <ion-input #snoteInput="ngModel" id="snote" name="snote" placeholder="Fragile" [(ngModel)]="snote"></ion-input>

    <ion-label for="quantity">Quantity</ion-label>
    <ion-input #quantityInput="ngModel" id="quantity" name="quantity" type="number" min="1" placeholder="1" [(ngModel)]="quantity" [ngClass]=" {'inputError' : quantityInput.invalid && (quantityInput.touched ||submitButtonPressed)}" required></ion-input>
    <p class="error" *ngIf="quantityInput.invalid && (quantityInput.touched ||submitButtonPressed)">Invalid quantity</p>

    <ion-label for="price">Price</ion-label>
    <ion-input #priceInput="ngModel" id="price" name="price" type="number" min="1" placeholder="1" [(ngModel)]="price" [ngClass]=" {'inputError' : priceInput.invalid && (priceInput.touched ||submitButtonPressed)}" required></ion-input>
    <p class="error" *ngIf="priceInput.invalid && (priceInput.touched ||submitButtonPressed)">Invalid price</p>

    <ion-label for="category">Category</ion-label>
    <ion-select #categorySelect="ngModel" label="Choose a category" id="category" name="category" [(ngModel)]="category" [ngClass]=" {'inputError' : categorySelect.invalid && (categorySelect.touched ||submitButtonPressed)}" required>
      <ion-select-option value="Electronics">Electronics</ion-select-option>
      <ion-select-option value="Furniture">Furniture</ion-select-option>
      <ion-select-option value="Clothing">Clothing</ion-select-option>
      <ion-select-option value="Tools">Tools</ion-select-option>
      <ion-select-option value="Miscellaneous">Miscellaneous</ion-select-option>
    </ion-select>
    <p class="error" *ngIf="categorySelect.invalid && (categorySelect.touched ||submitButtonPressed)">Need a category</p>

    <ion-label for="stockStatus">Stock status</ion-label>
    <ion-select #stockSelect="ngModel" label="Choose a stock status" id="stockStatus" name="stock" [(ngModel)]="stock" [ngClass]=" {'inputError' : stockSelect.invalid && (stockSelect.touched ||submitButtonPressed)}" required>
      <ion-select-option  value="In stock">In stock</ion-select-option>
      <ion-select-option value="Low stock">Low stock</ion-select-option>
      <ion-select-option value="Out of stock">Out of stock</ion-select-option>
    </ion-select>
    <p class="error" *ngIf="stockSelect.invalid && (stockSelect.touched ||submitButtonPressed)">Need a stock status</p>

    <ion-label for="featured">Featured</ion-label>
    <ion-select #featuredSelect="ngModel" label="Featured item" id="stockStatus" name="featured" [(ngModel)]="featured" required>
      <ion-select-option value="1">Yes</ion-select-option>
      <ion-select-option value="0">No</ion-select-option>
    </ion-select>


    <ion-button type="submit">Submit</ion-button>
  </form>
  <h2>Featured Items</h2>
  <!-- Table Box -->
  <section id="table-box">
    <!-- Table -->
    
    <ion-grid>
      <ion-row>
        <ion-col>Item ID</ion-col>
        <ion-col>Name</ion-col>
        <ion-col>Category</ion-col>
        <ion-col>Quantity</ion-col>
        <ion-col>Price</ion-col>
        <ion-col>Supplier</ion-col>
        <ion-col>Stock Status</ion-col>
        <ion-col>Featured Item</ion-col>
        <ion-col>Special Note</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of displayItems">
        <ion-col>{{item.item_id}}</ion-col>
        <ion-col>{{item.item_name}}</ion-col>
        <ion-col>{{item.category}}</ion-col>
        <ion-col>{{item.quantity}}</ion-col>
        <ion-col>{{item.price}}</ion-col>
        <ion-col>{{item.supplier_name}}</ion-col>
        <ion-col>{{item.stock_status}}</ion-col>
        <ion-col>{{item.featured_item ? 'Yes' : 'No'}}</ion-col>
        <ion-col>{{item.special_note}}</ion-col>
      </ion-row>
    </ion-grid>
  </section>

</ion-content>
