/* Header */
ion-header {
    --background: #3880ff;
    color: white;
  }
  
  /* Title */
  ion-title {
    padding: 16px;
    --background: #f9f9fb;
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1c1e;
  }
  
  /* h2 font styling */
  h2 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #1c1c1e;
    text-align: center;
    font-weight: bold;
    background-color: #f9f9fb;
  }
  
  /* Search box */
  #search-box {
    padding: 16px;
    text-align: center;
  }
  
  #search-box p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 12px;
  }
  
  /*basic paragraph */
  p {
    text-align: center;
  }
  
  /* Input styling */
  ion-input {
    margin-bottom: 10px;
    width: 80%;
    max-width: 400px;
    margin-inline: auto;
    display: block;
    --background: #f2f2f7;
  }
  
  /* Button */
  #search-box ion-button {
    margin: 4px 4px 4px 0;
    --border-radius: 10px;
    font-size: 14px;
    min-height: 40px;
    padding: 0 14px;
  }
  
  /* error message */
  #message {
    color: #e74c3c;
    font-weight: 500;
    margin-top: 8px;
  }
  
  /* Table */
  #table-box {
    padding: 16px;
    overflow-x: auto;
  }
  
  /* Table grid */
  ion-grid {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-x: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  
  /* Table rows */
  ion-row {
    border-bottom: 1px solid #eee;
    padding: 6px 0;
  }
  
  /* Table header row */
  ion-row:first-child {
    background-color: #f1f1f1;
    font-weight: bold;
  }
  
  /* Table column styling */
  ion-col {
    padding: 8px;
    text-align: center;
    font-size: 0.95rem;
    color: #333;
  }

  /* Responsive Design */
@media (max-width: 700px) {

  ion-col {
      font-size: 10px;
  }
  
}